@import "variables";

.carousel-container {
  margin-top: 100px;

  .carousel {
    .main-image-container {
      position: relative;
      margin: auto;
      overflow: hidden;

      .content-overlay {
        border-radius: 0.5em;
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        height: 500px;
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
      }

      &:hover .content-overlay {
        opacity: 1;
      }

      .image {
        max-width: 100%;
        max-height: 500px;
        width: 100%;
        height: 500px;
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
        opacity: 1;
      }

      .main-information {
        font-family: 'Raleway', sans-serif;
        position: absolute;
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
        width: 100%;
        left: 50%;
        opacity: 0;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
      }

      .fadeIn-bottom {
        top: 80%;
      }

      &:hover .main-information {
        top: 50%;
        left: 50%;
        opacity: 1;
      }

      h3 {
        color: #fff;
        font-weight: 500;
        letter-spacing: 0.15em;
        margin-bottom: 0.5em;
        text-transform: uppercase;
      }

      p {
        color: #fff;
        font-size: 0.8em;
      }
    }
  }
}

.container {
  display: block;
  height: 1000px;
  width: 50%;
  padding: 2em;
  margin: auto;

  .carousel {
    position: relative;
    height: 550px;
    width: 100%;
    overflow: hidden;
    border-radius: 0.5em;

    .slide {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
      border-radius: 0.5em;
    }
  }

  .control {
    border: none;
    background-color: transparent;
    outline: 0; // remove blue outline border, but make sure they are still focussable for accessibility
    position: absolute;
    cursor: pointer;
    justify-content: center;
    padding: 0.5em;
    color: white;
    font-weight: bold;
    font-size: 3em;
    user-select: none;
    opacity: 80%;
    transition: opacity 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);

    &:hover, &:focus {
      opacity: 1;
    }

    /* Position the buttons */
    &.next {
      right: 0;
      margin-right: 20%;

      @media #{$mobile} {
        margin-right: 15%;
      }
    }

    &.prev {
      left: 0;
      margin-left: 20%;

      @media #{$mobile} {
        margin-left: 15%
      }
    }

    .arrow {
      display: block;
      border-left: 0.1em solid white;
      border-bottom: 0.1em solid white;
      width: 0.5em;
      height: 0.5em;

      &.left {
        transform: rotate(45deg);
      }

      &.right {
        transform: rotate(225deg);
      }
    }
  }

  .scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    height: 200px;
    width: 200px;

    .thumbnail-image {
      flex: 0 0 auto;
      width: 200px;
      object-fit: cover;
      margin-right: 3px;
      border-radius: 0.5em;
    }
  }

  .scrolling-wrapper-flexbox {
    height: 80px;
    margin-bottom: 20px;
    width: 100%;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
