<div class="carousel-container">
  <!--    TODO:DO SOME TEXT HERE  -->
  <div class="container">

    <div class="carousel">
      <div class="main-image-container" *ngFor="let project of projects; let i = index">
        <div *ngIf="i === currentSlide">
          <a [href]="project.web_url" target="_blank">
            <div class="content-overlay"></div>
            <img
              [src]="project.avatar_url"
              class="slide image"
              @carouselAnimation
            />

            <div class="main-information fadeIn-bottom">
              <h3 class="content-title">{{project.name}}</h3>
              <p class="content-text">{{project.description || 'No description'}}</p>
              <p class="content-text">Creation date: {{project.created_at | date:'longDate'}}</p>
              <p class="content-text">Last update: {{project.last_activity_at | date:'longDate'}}</p>
              <p class="content-text">Language: {{getLanguage(project)}}</p>
              <p class="content-text">Language: {{getTags(project)}}</p>
            </div>
          </a>
        </div>
      </div>

    </div>

    <div class="content">
      <!-- controls -->
      <button class="control prev" (click)="onPreviousClick()">
        <span class="arrow left"></span>
      </button>
      <button class="control next" (click)="onNextClick()">
        <span class="arrow right"></span>
      </button>
      <div class="scrolling-wrapper-flexbox">
        <ng-container *ngFor="let project of projects; let i = index">
          <img
            *ngIf="i !== currentSlide"
            [src]="project.avatar_url"
            class="thumbnail-image"
            (click)="onThumbnailClick(i)"
          />
        </ng-container>
      </div>
    </div>
  </div>
</div>
