@import url(https://fonts.googleapis.com/css?family=Raleway);

$blue: rgb(0, 128, 255);
$purple: rgb(185, 88, 199);
$green: rgb(181, 230, 29);
$site-color: black;
$second-site-color: #1e1f21;
$gray: rgb(71,72,77);
$site-gradient: linear-gradient(60deg, $purple, $blue, $green);

$mobile: "only screen and (max-width : 900px)";
