$inside-element-padding: 10px;
$description_height: 92px;
$button-opacity: 0.7;

.main-container {
  width: 360px;

  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;

  color: white;
  font-family: Arial, serif;

  .cellphone {
    border-radius: 2em;
    padding: 20px 10px 20px;
    border: 2px solid gray;

    .header {
      .grid-container {
        display: grid;
        grid-template-columns: 25% 50% 25%;
        padding-top: $inside-element-padding;
        padding-bottom: $inside-element-padding;

        & div {
          border: 0.5px solid gray;
          padding: 5px;
        }

        .item2, .item4 {
          border-right: none;
        }

        .item1, .item3, .item4 {
          border-bottom: none;
        }

        .item3, .item4 {
          font-size: 12px;
        }

        .item1 {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 1;
          grid-row-end: 4;
          border-left: none;

          & img {
            width: 40px;
            vertical-align: sub;
          }

          & img:hover {
            opacity: $button-opacity;
          }
        }

        .item2 {
          grid-column-start: 2;
          grid-column-end: 4;
        }

        .item4 {
          text-transform: uppercase;
        }
      }
    }

    .screen {
      max-height: 556px;
      overflow: scroll;
      overflow-x: hidden;
      position: relative;
      border: 1px solid gray;
      border-radius: 0.5em;

      .screen-content {
        position: relative;
      }

      .animate-previous, .animate-next {
        transition: .520s ease;
      }

      .animate-previous {
        transform: translate(400px, 0px);
      }

      .animate-next {
        transform: translate(-400px, 0px);
      }

      .profile-container {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;

        & img {
          width: 40px;
          height: 40px;
          object-fit: cover;
          border-radius: 50%;
          vertical-align: middle;
        }

        & span {
          padding-left: 10px;
        }
      }

      .image {
        img {
          width: 100%;
          object-fit: cover;
          height: 350px;
        }
      }

      .title {
        padding: $inside-element-padding;
      }

      .tag-container {
        padding-left: $inside-element-padding;

        .tag {
          filter: invert(100%);
          object-fit: cover;
          width: 20px;
          vertical-align: text-bottom;
        }

        .tag-text {
          color: gray;
          padding-left: 5px;
        }
      }

      .description {
        padding-top: $inside-element-padding;
        padding-right: $inside-element-padding;
        padding-left: $inside-element-padding;
        min-height: $description_height;
        word-break: break-word;
        line-height: 1.4rem;
        position: relative;
      }

      .truncate-text {
        overflow: hidden;
      }

      .date {
        padding: $inside-element-padding;
        font-size: 12px;
        color: gray;
      }

      .loading-overlay, .projects-menu-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        z-index: 1;
        transition: 1.5s ease;
        overflow: hidden;

        .loading-content {
          width: 40%;
          position: absolute;
          top: 200px;
          left: 30%;
          text-align: center;

          & img {
            width: 70%;
          }
        }
      }

      .projects-menu-overlay {
        .project-menu-content {
          display: grid;
          grid-template-columns: 25% 25% 25% 25%;
          padding: $inside-element-padding;

          .projects-grid {
            justify-self: center;
            text-align: -webkit-center;
            padding-bottom: 5px;
            font-size: 10px;

            &:hover {
              opacity: 0.8;
            }

            & img {
              border-style: solid;
              border-color: white;
              border-width: 1px;
              width: 60px;
              height: 60px;
              object-fit: cover;
              border-radius: 50%;
              display: block;
              margin-bottom: 5px;
            }

            & a {
              text-decoration: none;
              color: white;
            }
          }
        }
      }
    }

    .button-container {
      text-align: center;
      margin-top: 20px;

      & img {
        filter: invert(100%);
        object-fit: cover;
        width: 40px;
      }

      & img:hover {
        opacity: $button-opacity;
      }

      .back-button {
        transform: rotate(180deg);
      }

      .power-button {
        margin-right: 40px;
        margin-left: 40px;
      }

      .next-button {
      }
    }
  }
}

::-webkit-scrollbar {
  width: 0;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

