<div class="main-container">
  <div class="cellphone">

    <div class="header">
      <div class="grid-container">
        <div class="item1">
          <img routerLink="" src="../../assets/images/round_home_white_48dp.png"/>
        </div>
        <div class="item2">Developed Projects</div>
        <div class="item3">All content on GitLab</div>
        <div class="item4">CASSIANO</div>
      </div>
    </div>

    <div class="screen">
      <div class="screen-content">
        <div class="loading-overlay">
          <div class="loading-content">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Apple_Computer_Logo_rainbow.svg/931px-Apple_Computer_Logo_rainbow.svg.png"/>
            <span>Loading...</span>
          </div>
        </div>
        <div class="projects-menu-overlay hidden">
          <div class="project-menu-content">
            <div class="projects-grid" *ngFor="let project of projects; let i = index">
              <a (click)="displaySelectedProjectFromMenu(project, i)">
                <img [src]="project.avatar_url"/>
                {{project.name}}
              </a>
            </div>
          </div>
        </div>

        <div class="profile-container">
          <img src="../../assets/images/profile.JPG"/>
          <span>{{currentProject.namespace.path}}</span>
        </div>
        <div class="image">
          <img src="{{currentProject.avatar_url}}"/>
        </div>
        <div class="title">
          {{currentProject.name}}
        </div>
        <div class="tag-container">
          <img class="tag" src="../../assets/images/tag.png">
          <span class="tag-text">{{getLanguages(currentProject)}}</span>
        </div>
        <div class="description" name="description">
          {{currentProject.description || 'No description'}}
        </div>

        <div class="date">
          {{currentProject.created_at | date:'longDate'}}
        </div>
      </div>
    </div>

    <div class="button-container">
      <img class="back-button" (click)="!isShowingProjectsMenu && onPreviousClick()" src="../../assets/images/round_skip_next_black_48dp.png" disabled="true"/>
      <img class="power-button" (click)="toggleProjectsMenu()" src="../../assets/images/round_menu_black_48dp.png"/>
      <img class="next-button" (click)="!isShowingProjectsMenu && onNextClick()" src="../../assets/images/round_skip_next_black_48dp.png"/>
    </div>

  </div>
</div>







