@import "variables";

div.is-visible {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/**** Sass Variables ****/
$bodyFont: 'Open Sans', sans-serif;
.outer-container {
  background-color: $second-site-color;
  padding-bottom: 25px;
}

.summary-image-left {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  height: 400px;
  margin-top: 60px
}

.summary-image-right {
  margin-top: 60px;
  height: 400px;
}

div .details h2 {
  color: black;
}

span .job-title {
  color: black;
  font-weight: 500;
}

.card-image img {
  width: 360px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.container {
  font-family: $bodyFont;
  max-width: 900px;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  opacity: 0;
}

.card-wrapper {
  width: 400px;
  height: 500px;
  position: relative;
}

.card {
  --borderWidth: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 450px;
  transform: translate(-50%, -50%);
  border-radius: calc(2 * var(--borderWidth));
  overflow: hidden;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: 0.5s;

  @media #{$mobile}  {
    width: 300px;
    height: 400px;
  }

  .card-image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #000;
    transition: .5s;
  }

  &:hover img {
    opacity: 0.4;
    transition: .5s;
  }
}

.card:hover .card-image {
  transform: translateY(-100px);
  transition: all .9s;
}

/**** Social Icons *****/

.social-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: flex;
  padding-left: 0;


  li {
    list-style: none;

    a {
      position: relative;
      display: block;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      background: #fff;
      font-size: 23px;
      color: #333;
      font-weight: bold;
      margin: 0 6px;
      transition: .4s;
      transform: translateY(200px);
      opacity: 0;
    }
  }
}

.card:hover .social-icons li a {
  transform: translateY(0px);
  opacity: 1;
}

.social-icons li a:hover {
  background: #000;
  transition: .2s;

  .fab {
    color: #fff;
  }
}

.social-icons li a .fab {
  transition: .8s;

  &:hover {
    transform: rotateY(360deg);
    color: #fff;
  }
}

.card:hover li:nth-child(1) a {
  transition-delay: 0.1s;
}

.card:hover li:nth-child(2) a {
  transition-delay: 0.2s;
}

.card:hover li:nth-child(3) a {
  transition-delay: 0.3s;
}

.card:hover li:nth-child(4) a {
  transition-delay: 0.4s;
}

/**** Personal Details ****/

.details {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  width: 100%;
  height: 120px;
  z-index: 1;

  h2 {
    margin: 30px 0;
    padding: 0;
    text-align: center;

    .job-title {
      font-size: 1rem;
      line-height: 2.5rem;
      color: #333;
      font-weight: 300;
    }
  }
}

.jane {
  position: absolute;
  bottom: -120px;
  left: 0;
  opacity: 0;
  background: #fff;
  width: 100%;
  height: 120px;
  z-index: 3;
  padding: 10px;
  transition: .4s;
}

.profile-two .social-icons li a {
  border-radius: 50%;
}

.card:hover .profile-img--two {
  transform: rotateY(180deg);
}

.card:hover .jane {
  bottom: 0;
  left: 0;
  transition-delay: 0.5s;
  opacity: 1;
}

.quote {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  .blockquote {
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: 900px;
    word-break: break-word;

    p, cite {
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    p {
      font-family: Georgia, serif;
      color: #fff;
      font-size: 2.7rem;
      font-style: italic;
      font-weight: 300;
      margin-bottom: 32px;

      span {
        will-change: opacity;
        opacity: 0;
      }

      span.animate {
        opacity: 1;
        filter: blur(0) !important;
      }
    }

    cite {
      font-family: verdana, serif;
      font-size: 0.9rem;
      color: #aaa;
      opacity: 0;
      font-style: normal;
      font-weight: 500;
    }

    cite.animate {
      opacity: 1;
    }

    div {
      position: relative;
      height: 1px;
      margin-bottom: 32px;
      opacity: 0;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 5%;
        right: 5%;
        width: 90%;
        height: 1px;
        background-image: linear-gradient(to right, transparent, gray, transparent);
      }

      &.animate {
        opacity: 1;
      }
    }
  }
}
