<div class="outer-container">
  <div class="quote">
    <div class="blockquote">
      <p class="quote-paragraph">
        <span name="quote" data-duration="1.1" data-delay="1.23" data-blur="6">“Two&nbsp;</span>
        <span name="quote" data-duration="1.4" data-delay="1.43" data-blur="3">things&nbsp;</span>
        <span name="quote" data-duration="1.8" data-delay="1.42" data-blur="5">are&nbsp;</span>
        <span name="quote" data-duration="1.2" data-delay="1.25" data-blur="9">infinite:&nbsp;</span>
        <span name="quote" data-duration="1.7" data-delay="1.30" data-blur="4">the&nbsp;</span>
        <span name="quote" data-duration="1.2" data-delay="1.29" data-blur="3">universe&nbsp;</span>
        <span name="quote" data-duration="1.4" data-delay="1.26" data-blur="5">and&nbsp;</span>
        <span name="quote" data-duration="1.7" data-delay="1.19" data-blur="9">human&nbsp;</span>
        <span name="quote" data-duration="1.2" data-delay="1.11" data-blur="5">stupidity;&nbsp;</span>
        <span name="quote" data-duration="1.9" data-delay="1.19" data-blur="2" >and&nbsp;</span>
        <span name="quote" data-duration="1.2" data-delay="1.36" data-blur="9" >I'm&nbsp;</span>
        <span name="quote" data-duration="1.8" data-delay="1.17" data-blur="3" >not&nbsp;</span>
        <span name="quote" data-duration="1.2" data-delay="1.30" data-blur="10" >sure&nbsp;</span>
        <span name="quote" data-duration="1.5" data-delay="1.50" data-blur="4" >about&nbsp;</span>
        <span name="quote" data-duration="1.8" data-delay="1.19" data-blur="2" >the&nbsp;</span>
        <span name="quote" data-duration="1.3" data-delay="1.18" data-blur="4" >universe.”&nbsp;</span>
      </p>
      <div name="divider" class="divider div-transparent"></div>
      <cite>Albert Einstein</cite>
    </div>
  </div>
  <div animateOnScroll animationName="is-visible" class="container">
    <img class="summary-image-left" src="../../assets/images/summary_line2.png"/>
    <div class="card-wrapper">
      <div class="card profile-two">
        <div class="card-image">
          <img src="{{profile.image}}" alt="profile one">
        </div>
        <ul class="social-icons">
          <li *ngFor="let social of profile.socialLinks">
            <a href="{{social.url}}">
              <i class="{{social.icon}}"></i>
            </a>
          </li>
        </ul>
        <div class="details">
          <h2>{{profile.name}}
            <br>
            <span class="job-title">{{profile.jobTitle}}</span>
          </h2>
        </div>
      </div>
    </div>
    <img class="summary-image-right" src="../../assets/images/summary_line2.png"/>
  </div>
</div>
