@import "variables";

.welcome-box {
  background: $site-color;
  margin: 10% auto 5%;
  width: 50%;
  font-family: "Courier New", monospace;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;

  @media #{$mobile} {
    font-size: 1.0em;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 100px;
    margin-top: 100px;
  }

  .welcome-text {
    display: inline-block;

    .tab {
      margin-left: 50px;
    }

    p {
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }
}
