@import "variables";

.button-container {
  border: 2px solid #2e2e2e;
  cursor: pointer;
  letter-spacing: 0.2125rem;
  overflow: hidden;
  padding: 20px 30px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: background 5s cubic-bezier(0.19, 1, 0.22, 1),
  border 1s cubic-bezier(0.19, 1, 0.22, 1),
  color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  user-select: none;
  width: 200px;
  margin: auto auto 150px;

  @media #{$mobile} {
    padding: 10px 15px;
    width: 150px;
    margin-bottom: 100px;
  }

  a {
    color: #969696;
    font-family: "Varela Round", serif;
    text-decoration: none;
  }

  .mask {
    background: $site-gradient;
    height: 100px;
    position: absolute;
    transform: translate3d(-120%, -50px, 0) rotate3d(0, 0, 1, 45deg);
    transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
    width: 200px;
  }

  .shift {
    display: inline-block;
    transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.05);
    border-color: white;
    box-shadow: 0 0 5px rgba(255, 245, 245, 0.8);
    transition: background 0s;

    a {
      color: #fff;
    }

    .mask {
      background-color: #fff;
      transform: translate3d(120%, -100px, 0) rotate3d(0, 0, 1, 90deg);
    }

    .shift {
      transform: translateX(5px);
    }
  }

  &:active {
    background-color: #fff;

    a {
      color: #202020;
    }
  }
}
