<div class="gradient-border welcome-box">
  <div class="welcome-text">
    <p>
      <span class="blue-text">while</span>
      <span class="white-text"> (</span>
      <span class="purple-text">alive</span>
      <span class="white-text">) {{curlyBrackets}}</span>
    </p>
    <p>
      <span class="green-text tab">eat<span class="white-text">();</span></span>
    </p>
    <p>
      <span class="green-text tab">sleep<span class="white-text">();</span></span>
    </p>
    <p>
      <span class="green-text tab">code<span class="white-text">();</span></span>
    </p>
    <p>
      <span class="white-text">{{inverseCurlyBrackets}}</span>
    </p>
  </div>
</div>

<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>


<div class="button-container" routerLink="/projects">
  <a routerLink="" style="text-decoration: none;">
    <div class="button">
      Projects
      <span class="shift">›</span>
      <div class="mask"></div>
    </div>
  </a>
</div>

