/* You can add global styles to this file, and also import other style files */
@import "variables";

html {
  scroll-behavior: smooth;
}

body {
  background: $site-color;
  margin: 0;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.blue-text {
  color: $blue;
}

.purple-text {
  color: $purple;
}

.white-text {
  color: white;
}

.green-text {
  color: $green;
}
