@import "variables";

.divider {
  background-color: rgb(71,72,77);
  height: 150px;
}

/*------------------*/
/*  SKEW CLOCKWISE  */
/*------------------*/
.skew-cc{
  width:100%;
  height:100px;
  left:0px;
  background: linear-gradient(to right bottom, $second-site-color 49%, $site-color 50%),linear-gradient(-50deg, #1e1f21 16px, #47484d 0);
}

/*-------------------------*/
/* SKEW COUNTER CLOCKWISE  */
/*-------------------------*/
.skew-c{
  width:100%;
  height:100px;
  left:0px;
  background: linear-gradient(to left bottom, $site-color 49%, $second-site-color 50%);
}

