<div class="main-content">

  <app-welcome></app-welcome>
  <div class="skew-c"></div>
  <app-summary></app-summary>
  <div class="skew-cc"></div>
  <app-project-list></app-project-list>

  <router-outlet></router-outlet>
</div>



